[Archive Definition #0]
extensions-openpgp=tar
extensions-cms=tar.gz,tgz
id=tar
Name=TAR (PGP®-compatible)
pack-command-openpgp=0|%I/gpgtar --openpgp --skip-crypto --output - --encrypt -T- --null --
pack-command-cms=0|%I/gpgtar --cms --skip-crypto --output - --encrypt -T- --null --
unpack-command-openpgp=%I/gpgtar --openpgp --skip-crypto --set-filename %f --decrypt -- -
unpack-command-cms=%I/gpgtar --cms --skip-crypto --set-filename %f --decrypt -- -

[Checksum Definition #0]
file-patterns=sha1sum.txt
output-file=sha1sum.txt
id=sha1sum
Name=sha1sum
create-command=0|%I/sha1sum -0 -
verify-command=%I/sha1sum -c

[Checksum Definition #1]
file-patterns=sha256sum.txt
output-file=sha256sum.txt
id=sha256sum
Name=sha256sum
create-command=0|%I/sha256sum -0 -
verify-command=%I/sha256sum -c

[Checksum Definition #2]
file-patterns=md5sum.txt
output-file=md5sum.txt
id=md5sum
Name=md5sum
create-command=0|%I/md5sum -0 -
verify-command=%I/md5sum -c

[Key Filter #0]
was-validated=false
Name=Not Validated Key

[Key Filter #1]
was-validated=true
is-expired=true
is-revoked=false
foreground-color=255,0,0
Name=Expired Key

[Key Filter #2]
was-validated=true
is-revoked=true
Name=Revoked Key

[Key Filter #3]
was-validated=true
is-root-certificate=true
is-validity=ultimate
Name=Trusted Root Certificate
background-color=95,135,255
font-bold=true


[Key Filter #4]
was-validated=true
is-root-certificate=true
is-not-validity=ultimate
Name=Not Trusted Root Certificate

[Key Filter #5]
was-validated=true
is-qualified=true
font-bold=true
Name=Keys for Qualified Signatures

[Key Filter #6]
was-validated=true
Name=Other Keys

[Key Filter #7]
is-cardkey=true
Name=Smartcard Key
icon=smartcard
