[Archive Definition #0]
extensions-openpgp=tar
extensions-cms=tar.gz,tgz
id=tar
Name=TAR (PGP®-compatible)
Name[ca]=TAR (compatible amb PGP®)
Name[fi]=TAR (PGP-yhteensopiva)
Name[gl]=TAR (compatíbel con PGP®)
Name[nb]=TAR (PGP®-kompatibel)
Name[nl]=TAR (PGP®-compatible)
Name[nn]=TAR (PGP®-kompatibel)
Name[pt]=TAR (compatível com o PGP®)
Name[pt_BR]=TAR (compatível com PGP®)
Name[sk]=TAR (PGP® kompatibilné)
Name[sv]=TAR (fungerar med PGP®)
Name[uk]=TAR (сумісні з PGP®)
Name[x-test]=xxTAR (PGP®-compatible)xx
Name[zh_CN]=TAR(PGP® 兼容)
pack-command-openpgp=0|%I/gpgtar --openpgp --skip-crypto --output - --encrypt -T- --null --
pack-command-cms=0|%I/gpgtar --cms --skip-crypto --output - --encrypt -T- --null --
unpack-command-openpgp=%I/gpgtar --openpgp --skip-crypto --set-filename %f --decrypt -- -
unpack-command-cms=%I/gpgtar --cms --skip-crypto --set-filename %f --decrypt -- -

[Checksum Definition #0]
file-patterns=sha1sum.txt
output-file=sha1sum.txt
id=sha1sum
Name=sha1sum
Name[ca]=sha1sum
Name[fi]=sha1sum
Name[gl]=sha1sum
Name[nb]=sha1sum
Name[nl]=sha1sum
Name[nn]=sha1sum
Name[pt]=sha1sum
Name[pt_BR]=sha1sum
Name[sk]=sha1sum
Name[sv]=SHA1-summa
Name[uk]=sha1sum
Name[x-test]=xxsha1sumxx
Name[zh_CN]=sha1sum
create-command=0|%I/sha1sum -0 -
verify-command=%I/sha1sum -c

[Checksum Definition #1]
file-patterns=sha256sum.txt
output-file=sha256sum.txt
id=sha256sum
Name=sha256sum
Name[ca]=sha256sum
Name[fi]=sha256sum
Name[gl]=sha256sum
Name[nb]=sha256sum
Name[nl]=sha256sum
Name[pt]=sha256sum
Name[pt_BR]=sha256sum
Name[sk]=sha256sum
Name[sv]=SHA256-summa
Name[uk]=sha256sum
Name[x-test]=xxsha256sumxx
Name[zh_CN]=sha256sum
create-command=0|%I/sha256sum -0 -
verify-command=%I/sha256sum -c

[Checksum Definition #2]
file-patterns=md5sum.txt
output-file=md5sum.txt
id=md5sum
Name=md5sum
Name[ca]=md5sum
Name[fi]=md5sum
Name[gl]=md5sum
Name[nb]=md5sum
Name[nl]=md5sum
Name[nn]=md5sum
Name[pt]=md5sum
Name[pt_BR]=md5sum
Name[sk]=md5sum
Name[sv]=MD5-summa
Name[uk]=md5sum
Name[x-test]=xxmd5sumxx
Name[zh_CN]=md5sum
create-command=0|%I/md5sum -0 -
verify-command=%I/md5sum -c

[Key Filter #0]
was-validated=false
Name=Not Validated Key
Name[ca]=Clau no validada
Name[fi]=Varmistamaton avain
Name[gl]=Non hai chave validada
Name[nb]=Nøkkel ikke sjekket for gyldighet
Name[nl]=Geen gevalideerde sleutel
Name[nn]=Ikkje-validert nøkkel
Name[pt]=Chave Não Validada
Name[pt_BR]=Chave não validada
Name[sk]=Neoverený kľúč
Name[sv]=Nyckeln har inte validerats
Name[uk]=Неперевірений ключ
Name[x-test]=xxNot Validated Keyxx
Name[zh_CN]=未校验的密钥

[Key Filter #1]
was-validated=true
is-expired=true
is-revoked=false
foreground-color=255,0,0
Name=Expired Key
Name[ca]=Clau expirada
Name[fi]=Vanhentunut avain
Name[gl]=Chave caducada
Name[nb]=Utgått nøkkel
Name[nl]=Verlopen sleutel
Name[nn]=Forelda nøkkel
Name[pt]=Chave Expirada
Name[pt_BR]=Chave expirada
Name[sk]=Vypršaný kľúč
Name[sv]=Utgången nyckel
Name[uk]=Застарілий ключ
Name[x-test]=xxExpired Keyxx
Name[zh_CN]=过期密钥

[Key Filter #2]
was-validated=true
is-revoked=true
Name=Revoked Key
Name[ca]=Clau revocada
Name[fi]=Peruttu avain
Name[gl]=Chave revogada
Name[nb]=Tilbakekalt nøkkel
Name[nl]=Ingetrokken sleutel
Name[nn]=Tilbakekalla nøkkel
Name[pt]=Chave Revogada
Name[pt_BR]=Chave revogada
Name[sk]=Kľúč so zrušenou platnosťou
Name[sv]=Återkallad nyckel
Name[uk]=Анульований ключ
Name[x-test]=xxRevoked Keyxx
Name[zh_CN]=吊销的密钥

[Key Filter #3]
was-validated=true
is-root-certificate=true
is-validity=ultimate
Name=Trusted Root Certificate
Name[ca]=Certificat arrel de confiança
Name[fi]=Luotettu juurivarmenne
Name[gl]=Certificado raíz autenticado
Name[nb]=Tiltrodd rot-sertifikat
Name[nl]=Vertrouwd hoofdcertificaat
Name[nn]=Tiltrudd rotsertifikat
Name[pt]=Certificado de Raiz Fidedigno
Name[pt_BR]=Certificado raiz confiável
Name[sk]=Dôveryhodný koreňový certifikát
Name[sv]=Pålitligt rotcertifikat
Name[uk]=Кореневий сертифікат з довірою
Name[x-test]=xxTrusted Root Certificatexx
Name[zh_CN]=可信任的根证书
background-color=95,135,255
font-bold=true


[Key Filter #4]
was-validated=true
is-root-certificate=true
is-not-validity=ultimate
Name=Not Trusted Root Certificate
Name[ca]=Certificat arrel sense confiança
Name[fi]=Ei-luotettu juurivarmenne
Name[gl]=Certificado raíz non autenticado
Name[nb]=Ikke tiltrodd rot-sertifikat
Name[nl]=Niet vertrouwd hoofdcertificaat
Name[nn]=Ikkje tiltrudd rotsertifikat
Name[pt]=Certificado de Raiz Não Fidedigno
Name[pt_BR]=Certificado raiz não confiável
Name[sk]=Nedôveryhodný koreňový certifikát
Name[sv]=Opålitligt rotcertifikat
Name[uk]=Кореневий сертифікат без довіри
Name[x-test]=xxNot Trusted Root Certificatexx
Name[zh_CN]=未信任的根证书

[Key Filter #5]
was-validated=true
is-qualified=true
font-bold=true
Name=Keys for Qualified Signatures
Name[ca]=Claus per a les signatures qualificades
Name[fi]=Hyväksyttyjen allekirjoitusten avaimet
Name[gl]=Chaves para sinaturas cualificadas
Name[nb]=Nøkler for kvalifiserte signaturer
Name[nl]=Sleutels voor gekwalificeerde ondertekeningen
Name[nn]=Nøklar for kvalifiserte signaturar
Name[pt]=Chaves para as Assinaturas Qualificadas
Name[pt_BR]=Chaves para assinaturas qualificadas
Name[sk]=Kľúče pre kvalifikované podpisy
Name[sv]=Nycklar för kvalificerade signaturer
Name[uk]=Ключі підписів обмеженого використання
Name[x-test]=xxKeys for Qualified Signaturesxx
Name[zh_CN]=合格签名的密钥

[Key Filter #6]
was-validated=true
Name=Other Keys
Name[ca]=Altres claus
Name[fi]=Muut avaimet
Name[gl]=Outras chaves
Name[nb]=Andre nøkler
Name[nl]=Andere sleutels
Name[nn]=Andre nøklar
Name[pt]=Outras 'Cache'
Name[pt_BR]=Outras chaves
Name[sk]=Ostatné kľuče
Name[sv]=Andra nycklar
Name[uk]=Інші ключі
Name[x-test]=xxOther Keysxx
Name[zh_CN]=其它密钥

[Key Filter #7]
is-cardkey=true
Name=Smartcard Key
Name[ca]=Clau de targeta intel·ligent
Name[fi]=Smartcard-avain
Name[gl]=Chave de smartcard
Name[nb]=Smartkort-nøkkel
Name[nl]=Smartcard-sleutel
Name[nn]=Smartkort-nøkkel
Name[pt]=Chave do 'Smartcard'
Name[pt_BR]=Chave do Smartcard
Name[sk]=Smartcard kľúč
Name[sv]=Smartkortsnyckel
Name[uk]=Ключ картки пам’яті
Name[x-test]=xxSmartcard Keyxx
Name[zh_CN]=智能卡密钥
icon=smartcard
