[Archive Definition #0]
extensions-openpgp=tar
extensions-cms=tar.gz,tgz
id=tar
Name=TAR (PGP®-compatible)
pack-command-openpgp=0|tar cf - -T- --null
pack-command-cms=0|tar cfz - -T- --null
unpack-command-openpgp=tar xf -
unpack-command-cms=tar xfz -

## ZIP can't unpack from stdin, so commented out:
#[Archive Definition #1]
#extensions=zip
#id=zip
#Name=ZIP
#Name[ca]=ZIP
#Name[ca@valencia]=ZIP
#Name[cs]=ZIP
#Name[da]=ZIP
#Name[de]=ZIP
#Name[el]=ZIP
#Name[en_GB]=ZIP
#Name[eo]=ZIP
#Name[es]=ZIP
#Name[et]=ZIP
#Name[fr]=ZIP
#Name[gl]=ZIP
#Name[it]=ZIP
#Name[ja]=ZIP
#Name[kk]=ZIP
#Name[km]=ZIP
#Name[lt]=ZIP
#Name[lv]=ZIP
#Name[nb]=ZIP
#Name[nds]=Zip
#Name[nl]=ZIP
#Name[nn]=ZIP
#Name[pa]=ZIP
#Name[pl]=ZIP
#Name[pt]=ZIP
#Name[pt_BR]=ZIP
#Name[sl]=ZIP
#Name[sv]=ZIP
#Name[tr]=ZIP
#Name[uk]=ZIP
#Name[x-test]=xxZIPxx
#Name[zh_CN]=ZIP
#Name[zh_TW]=ZIP
#pack-command=zip  -r - %f

[Archive Definition #3]
extensions=tar.bz2,tbz2
id=bzip2
Name=TAR (with bzip2 compression)
pack-command=0|tar cfj - -T- --null
unpack-command=tar xfj -

[Checksum Definition #1]
file-patterns=sha1sum.txt
output-file=sha1sum.txt
id=sha1sum
Name=sha1sum
create-command=0|xargs -0 sha1sum --
verify-command=sha1sum -c --

[Checksum Definition #2]
file-patterns=md5sum.txt
output-file=md5sum.txt
id=md5sum
Name=md5sum
create-command=0|xargs -0 md5sum --
verify-command=md5sum -c --

[Key Filter #0]
was-validated=false
Name=Not Validated Key

[Key Filter #1]
was-validated=true
is-expired=true
is-revoked=false
foreground-color=255,0,0
Name=Expired Key

[Key Filter #2]
was-validated=true
is-revoked=true
Name=Revoked Key

[Key Filter #3]
was-validated=true
is-root-certificate=true
is-validity=ultimate
Name=Trusted Root Certificate
background-color=95,135,255
font-bold=true


[Key Filter #4]
was-validated=true
is-root-certificate=true
is-not-validity=ultimate
Name=Not Trusted Root Certificate

[Key Filter #5]
was-validated=true
is-qualified=true
font-bold=true
Name=Keys for Qualified Signatures

[Key Filter #6]
was-validated=true
Name=Other Keys

[Key Filter #7]
is-cardkey=true
Name=Smartcard Key
icon=smartcard
